<!--The content below is only a placeholder and can be replaced.-->
<main class="main">
  <section class="card section">
    <h1>Lamp settings</h1>
    <pre [style.background-color]="'rgb(' + red.value + ',' + green.value +',' + blue.value +')'">{{message}}</pre>
    <div class="flex">
        <div class="flex flex-column">
            <div class="flex m-b-10">
                <mat-slider #red [max]="255" [min]="0" [step]="5" [tick-interval]="10">
                  </mat-slider>
                <span class="red">{{red.value}}</span>
            </div>
            <div class="flex m-b-10">
                <mat-slider #green [max]="255" [min]="0" [step]="5" [tick-interval]="10">
                  </mat-slider>
                <span class="green">{{green.value}}</span>
            </div>
            <div class="flex m-b-10">
                <mat-slider #blue [max]="255" [min]="0" [step]="5" [tick-interval]="10">
                  </mat-slider>
                <span class="blue">{{blue.value}}</span>
            </div>
        </div>
        
        <div class="flex">
            <mat-slider class="vert" #position [max]="100" [min]="0" [step]="5" [tick-interval]="10" [vertical]="true">
              </mat-slider>
            <div class="position">{{position.value}}</div>
        </div>
    </div>
    

    <button (click)="emit([red.value, green.value, blue.value, position.value])" mat-raised-button color="primary">Send</button>
  </section>

</main>